.item{
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border: 1px solid #979797;
  padding: 50px;
  margin-bottom: 50px;
}

@media(max-width: 768px) {
  .item {
    flex-flow: column wrap;
  }
}

.item-img {
  width: 252px;
  height: 395px;
}

.item-description {
  flex-direction: column;
  font-family: Open Sans;
  padding-top: 30px;
  color: #000000;
}

.item-header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.item-about {
  font-size: 18px;
  width: 100%;
  margin-bottom: 55px;
}

.item-features {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 13px;
}

.item-details li {
  list-style: none;
  font-size: 18px;
  padding-bottom: 20px;
}

.item-details {
  padding: 0;
}

.item-btn {
  width: 100%;
  border: 1px solid #3d3d3d;
  padding: 15px 0;
  text-align: center;
  background-color: #f2f2f2;
  color: #3d3d3d;
  font-size: 20px;
}

.item-btn:hover {
  cursor: pointer;
}

.popular-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-popular-header {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 50px;
}

.card-popular {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  margin-bottom: 20px;
  padding: 15px 0;
  transition: 0.3s;
}

.card-popular:hover {
  box-shadow: 0 22px 43px rgba(0,0,0,0.15);
  transition: 0.3s;
  transform: translateY(-5px);
  cursor: pointer;
}

.card-popular-img {
  width: 112px;
  height: 180px;
  display: flex;
  align-self: center;
}
  
  .social {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .social-header {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .social-card {
    display: flex;
    flex-direction: column;
    width: 220px;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-right: 20px;
    transition: 0.3s;
  }

  .social-card:last-child {
    margin-right: 0;
  }

  .social-card:hover {
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.336);
    transition: 0.3s;
    transform: translateY(-5px);
    cursor: pointer;
  }
  
  .vk {
    background-color: #45668e;
  }

  .fb {
    background-color: #3b5998;
  }

  .tg {
    background-color: #2580C7;
  }

  .md {
    background-color: #00bf8f;
  }